/* ExerciseSuggestor.css */

/* General styles */
.exercise-suggestor-container {
  background-color: rgb(252, 228, 242);
  padding: 20px;
}

.head {
  display: flex;
  text-align: center;
  color: #d73872;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: row;
  height: 120vh;
  background-color: rgb(255, 255, 255), 255, 255;
}
.home-content {
  line-height: 2rem;
  /* height: 80rem; */
  padding: 50px;
  background-color: #fff;
  box-shadow: #781c3d;
  border-radius: 5px;
}

.title {
  color: #d73872;
  /* Pink A200 */
  font-weight: bolder;
  text-align: center;
  font-family: cursive;
  margin-bottom: 10px;
  font-size: xx-large;
}

.category-title {
  color: #d81b60;
  /* Pink A200 */
  text-align: center;
  margin-bottom: 20px;
}

/* Exercise category */
.exercise-category {
  margin: 40px;

  padding: 10px;
  height: 100%;
  /* Add space between categories */
}

/* Exercise wrapper */
.exercise-wrapper {
  margin-bottom: 20px;
}

/* Image and content layout */
.content-container {
  display: flex;
  align-items: center;
}
.imp {
  font-size: 20px;

  font-family: Arial, sans-serif; /* Change font family if needed */
  color: #781c3d;
  text-align: center;

  margin-bottom: 20px;
}
.image-container {
  transition: transform 0.1s ease;
}
.image-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container,
.exercise-content {
  flex: 1;
  width: 20%;
  height: 70vh;
  margin-bottom: 20px;
  background-color: #ffffff;

  /* Set equal height */
}

.exercise-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px;

  /* Maintain aspect ratio */
  border-radius: 15px;
}

.exercise-card {
  padding: 15px;
  border: none;
}
.exercise-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-title {
  color: #d81b60;
  /* Pink A200 */
}

.carousel-icon {
  color: #d81b60;
  /* Pink A200 */
  font-size: 24px;
  margin: auto;
}

/* Adjust carousel controls position if needed */
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Position arrows in the middle vertically */
  transform: translateY(-50%);
  z-index: 1; /* Ensure the controls appear above the carousel content */
  width: 5%; /* Adjust width of the controls if needed */
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    top: 40%; /* Adjust the vertical positioning for smaller screens */
    /* Additional adjustments for smaller screens */
  }
}

/* Animations */
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animation {
  animation: textAnimation 1s ease-in-out;
}
/* ExerciseSuggestor.css */

/* ... (Previous styles) */

/* Buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.exercise-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d988b9;
  box-shadow: #781c3d;
  color: #ffff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.exercise-button:focus {
  outline: none;
}

/* PCOS button */
.exercise-button.pcos {
  background-color: #d81b60;
  /* Pink A200 */
}

/* Period button */
.exercise-button.period {
  background-color: #ff4081;
  /* Pink A100 */
}

.exercise-button:hover {
  opacity: 0.8;
}
